.mylibrary_wrap {
  display: flex;
  justify-content: space-between;
}
.mylibrary_main p {
  color: #202f55;
  font-size: 1.4rem;
  margin: 3rem 3rem 2rem;
}
.mylibrary_main a {
  display: block;
  width:180px;
  height:50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background: #f16272;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-left: 3rem;
}
.new_book {
  margin: 3rem;
}

